@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .HStack {
    @apply flex flex-row;
  }

  .VStack {
    @apply flex flex-col;
  }
  .font-primary {
    font-family: "Good Times W00 Heavy";
  }
  .font-secondary {
    font-family: "Exe";
  }
  .herizontal-line {
    width: 100%; /* Adjust to set the length of the line */
    height: 1px; /* Adjust to set the thickness of the line */
    background-color: #fff; /* Adjust to change the color of the line */
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .vertical-line{
    width: 1px; /* Adjust to set the length of the line */
    height: 100%; /* Adjust to set the thickness of the line */
    background-color: #fff; /* Adjust to change the color of the line */
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .button-circle{
    /* layout */
    display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  
  /* style */
  border-radius: 100px;
  background: linear-gradient(0deg, rgba(94, 94, 94, 0.18) 0%, rgba(94, 94, 94, 0.18) 100%), rgba(255, 255, 255, 0.06);
  background-blend-mode: color-dodge, lighten;
  }
}

@font-face {
  font-family: 'Exe'; /* You can choose any name */
  src: url('/src/assets/fonts/the-pretender-exp-sans.ttf') format('truetype'); /* Replace with your font file path */
}